<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".common.CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".camp.CampListDetailActivity"
            android:exported="false"
            android:parentActivityName=".camp.CampMainActivity" />
        <activity
            android:name=".camp.CampEditActivity"
            android:exported="false" />
        <activity
            android:name=".campmaster.CampgroundMasterActivity"
            android:exported="false" />
        <activity
            android:name=".campgear.CampGearDetailListActivity"
            android:exported="false" />
        <activity
            android:name=".campgear.CampGearDetailAddActivity"
            android:exported="false" />
        <activity
            android:name=".camp.CampMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>